@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Italiana", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} /* Add this CSS to your stylesheet */
/* Add this CSS to your stylesheet */
@keyframes loadingAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Apply the animation to the step elements */
.animate-step {
  background-image: linear-gradient(
    to right,
    #f3782c 0%,
    #f3782c 50%,
    transparent 50%,
    transparent 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadingAnimation 1s ease-in-out;
  animation-fill-mode: forwards;
}
.first-line-indent::first-line {
  margin-left: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.active {
  text-decoration: underline;
}
.shadow-bottom {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Add this to your CSS file */
nav {
  transition: background-color 0.3s ease-in-out; /* Add a smooth transition */
}

/* Define the background color for the scrolled state */
nav.scrolled {
  background-color: #feeba9;
  color: #414a4e;
}

.menu-reviews-container {
  position: absolute;
  top: 300px;
  height: 200px;
  overflow-y: scroll;
  left: 18rem;
  width: 100%;
  background-color: white;
  z-index: 999;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Add overflow for scrolling if needed */
}

.bg-signup-image {
  background-image: url("../public/bgSignUp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%; /* Set a minimum height for the image to cover the container */
}
.bg-about-image {
  background-image: url("../public/AboutUs.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%; /* Set a minimum height for the image to cover the container */
}
