@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Italiana", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} /* Add this CSS to your stylesheet */
/* Add this CSS to your stylesheet */
@keyframes loadingAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Apply the animation to the step elements */
.animate-step {
  background-image: linear-gradient(
    to right,
    #4fc1b0 0%,
    #4fc1b0 50%,
    transparent 50%,
    transparent 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadingAnimation 1s ease-in-out;
  animation-fill-mode: forwards;
}
.first-line-indent::first-line {
  margin-left: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.active {
  text-decoration: underline;
}
.shadow-bottom {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
